@import '../../../../assets/scss/mixins.scss';
@import '../../../../assets/scss/colors.scss';
@import '../../../../assets/scss/fonts.scss';
@import '../../../../assets/scss/globals.module.scss';

.sliderContainer {
  width: 100%;
  
  .valuesDisplay {
    @include flexBox();
    width: 100%;
    gap: 25px;

    >div {
      >span {
        color: $gray;
        font-size: $font-xsmall;
      }
    }
  }

}

