@import '../../../../assets/scss/mixins.scss';
@import '../../../../assets/scss/colors.scss';
@import '../../../../assets/scss/fonts.scss';

.inputContainer {
  @include flexBox(column);

  > label, > input {
    cursor: pointer;

    &:disabled, &.disabled {
      cursor: initial;
    }
  }

  .error {
    border-bottom: 1px solid red;
    transition: 1s;
    color: red;
  }
  
  .errorText {
    color: red;
    text-align: center;
    transition: 1s;
  }
}